# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db

# Environment
.env
*.env
.env.*

# Docker
*.pid
*.log
tmp/
*.bak

# Node / Frontend
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
